@media screen and (max-width: 1000px) {
h1,
h2, 
h3,
h4,     
h5,
h6 {
    font-size: 1.5rem;
}
p{
    font-size: .9rem;
}
    .menu-item {
        display: none;
    }

    .cart-item {
        margin-left: auto;
    }

    .logo img {
        max-width: 120px;
    }

    .padding-top {
        padding-top: 80px;
    }
.brand-container {
    
    padding-top: 20px !important;
}
    .brand-heading {
        font-size: 1.6rem;
    }

    .brand-info {
        font-size: .9rem;
    }

    .container {
        /* padding: 20px; */

    }
        .brand-container img {
            max-width: 450px;
            height: auto;
        }
                .plant-card-container {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 10px;
        
                }
}

/* Mobile */
@media screen and (max-width: 600px) {
    .brand-container {
        flex-direction: column-reverse;
        align-items: center;
        text-align: left;
        flex-wrap: wrap;
        padding-top: 0px !important;
    }

    .menu>ul {
        align-items: flex-start;
    }
 .logo img {
     max-width: 100px;
 }

    .brand-heading:before {
        display: block;
        margin-bottom: 5px;
    }

    .margin-bottom-x {
        margin-bottom: 60px;
    }

    .padding-top {
        padding-top: 30px !important;
    }
         .plant-card-container {
             display: grid;
             grid-template-columns: repeat(1, 1fr);
             gap: 10px;
    
         }
}